*{
	margin: 0;
	padding: 0;
}
.mainname{
	font-family: cursive;
	/*font-family: cursive;*/
	font-weight: bold;
	font-size: 30px;
}
#main{
	background-image:url(../images/bg.jpg);
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}
.overlay{
	height: 100vh;
	width: 100%;
	background-color: rgba(255, 165, 0, 0.2);
}
.mainmenu{
	color: #fff;
	width: 70%;
	min-height: 100vh;
	margin: auto;
	text-align: center;
	/*border: solid 3px #fff;*/
	justify-content: center;
}
.mainmenu img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.mainmenu a{
	text-decoration: none;
	color: teal;
	background-color: #fff;
	padding:3px ;
	border: solid teal 3px;
	border-radius: 50px;
	min-width:30px;
	display: inline-block;
}
.mainmenu ul{
	list-style: none;
	display: inline;
	margin-top: 12px;
}
.mainmenu ul li{
	display: inline;
	margin-left: 3px;
	min-width:60px;
}
.clickable-menus{
	width: 70%;
	margin: auto;
	/*background-color: #fff;*/
	overflow: hidden;
	margin-top: 12px;

}
.clickable-menus img{
	width: 60px;
	height: 100%;
}
.clickable-menus a{
	width: 60%;
	height: 60px;
	background-color: teal;
	display: inline-flex;
	color: #fff;
	margin: auto;
	margin-bottom: 10px;
	overflow: hidden;
	border: none;
	outline: none;
	text-align: left;
	align-items: center;
	line-height: 1.2em;
}

footer{
	min-height: 90px;
	width: 100%;
	text-align: center;
	background-color: #000;
	color: #fff;
	padding: 3px;
	box-sizing: border-box;
	bottom: 0;
}
.left{
	float: left;
	width: 30%;
	font-family: cursive;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
}
.right{
	text-align: left;
	float: right;
	width: 70%;
}
.right a{
	text-decoration: none;
	text-align: center;
	color: #000;
	outline: none;
	padding: 3px;
	width: 20px;
	display: block;
}
.right ul{
	list-style: none;
	display: block;
}
.right ul li{
	list-style: none;
	display: inline-block;
	color: #000;
	border-radius: 12px;
	font-size: 20px;
	padding: 3px;
	background-color: #fff;
}